<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
  <div>
    <a href="/home">home</a>
    <a href="/dashboard">dashboard</a>
    <a href="/login">login</a>
    <a href="/logout">Logout</a>
  </div>
  <h1>Dashboard</h1>
</nav>

    {{{body}}}
</body>
</html>