<main>
    <h3>Login</h3>
    <form id="loginForm">
        <label for="username">Username</label><input type="text" name="username" id="username"><label for="password">Password</label><input type="password" id="password" name="password"><button type="submit">Login!</button><a href="/signup">Sign up instead</a>
    </form>
</main>

<script src="/js/login.js"></script>